body {
    background-image: url("images/header_img.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
	width: 100%;
	height: 10vh;
	color: #1d1d1d;
	background: rgba(255, 255, 255, 0.4);
	position: fixed;
	top: 0;
	z-index: 1000; 
}
.inner {
height: 100%;
  margin: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.inner nav ul {
  list-style: none;
  display: flex; 
}
/* #career{
	font-size: 20px;
	display: inline-block;
	padding: 20px ;
	scroll-behavior: smooth; 
} */
.inner nav ul li #product{
	font-size: 20px;
	display: inline-block;
	padding: 20px ;
	scroll-behavior: smooth; 
}
#contact{
	font-size: 20px;
	display: inline-block;
	padding: 20px ;
	scroll-behavior: smooth; 
}
		
#header-word {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#header-word h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        letter-spacing: 10px;
        font-size: 50px;
        color: #e4e4e4;
}

#container {
    position: relative;
    top: 100vh;
    background: linear-gradient(rgb(119, 177, 119), rgb(25, 25, 88));
    z-index: 10;
    padding-top: 100px;
    padding-bottom: 100px;
}
#container #career {
	height: 500px;
	width: 80%;
    background: rgba(255, 255, 255, 0.7);
	margin: 100px 10%; 
}
#container #product {
	height: 500px;
	width: 80%;
    background: rgba(255, 255, 255, 0.7);
	margin: 100px 10%; 
}
#container #contact {
	height: 500px;
	width: 80%;
	background: rgba(255, 255, 255, 0.7); 
	margin: 100px 10%;
}
#contactContent {
    resize: both;
}
